* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#ngview {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: #9EE2D1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
figure img {
    width:50px;
}
ul {
    display: flex;
}
ul li {
    list-style: none;
    margin: 0 0.5em;
}
ul li a {
    text-decoration: none;
    color: #00001C;
}
ul li:hover {
    background-color: #3E9186;
}